<main class="page landing-page">

  <!--  Calculator section-->
  <app-calculator></app-calculator>

  <app-basic-cleaning></app-basic-cleaning>

  <!--  Features section-->
  <app-features></app-features>

  <!--  Cleaning methods section-->
<!--  <app-cleaning-methods></app-cleaning-methods>-->

  <!--  Order cleaning section-->
<!--  <app-order-cleaning></app-order-cleaning>-->

  <!--  About Us section-->
<!--  <app-about-us></app-about-us>-->

  <!--  Benefits section-->
  <app-benefits></app-benefits>

  <!--  Q&A section-->
  <app-faq></app-faq>

</main>
